body{
    margin: 0px;
}
.titulo{
    font-family: "Hubot Sans";
    font-size: 20px;
    background-color: #ceeaea;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    text-align: center;
}
p{
    font-family: "Poppins";
}
.texto{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.um{
   padding-top: 7vw;
}
