:root {
    --fonte-titulo: "Ubuntu";
    --fonte-texto: "Poppins";
    --cor-principal: #434343;
    --cor-secundaria: #37daeb;
    --cor-terciaria: #2be558;
    --cor-de-fundo: #252530;
    --cor-texto: white;
    --gradiente: linear-gradient(90deg, #00987a, #00984c);
}

body {
    margin: 0px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
}

.titulo {
    font-family: var(--fonte-titulo);
    font-size: 20px;
    background: var(--gradiente);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    margin-bottom: 3em;
    border-bottom: solid 4px;
    border-image: linear-gradient(90deg, var(--cor-terciaria), var(--cor-secundaria)) 1;
    text-shadow: 0px 0px 7.5px #ffffff82;
}

.subtitulo {
    font-weight: 500;
    text-transform: capitalize;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    text-shadow: 0px 0px 4px #37daeb87;
}

h3 {
    font-family: var(--fonte-texto);
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-family: var(--fonte-texto);
}

.textos {
    margin-top: 6em;
}

.nome-secao {
    margin-left: 3em;
    margin-right: 3em;
    padding: 0.75em 0.5em 0 0.5em;
    border-top: solid 4px var(--cor-terciaria);
    border-image: radial-gradient(circle at center, var(--cor-terciaria), transparent)1;
    color: var(--cor-secundaria);
}

.texto__espaco {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

.texto__titulo {
    color: var(--cor-de-fundo);
    font-family: var(--fonte-texto);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    background: var(--cor-secundaria);
    padding: 15px 25px;
    border-radius: 200px;
    border: solid 4px var(--cor-terciaria);
    text-align: center;
    display: flex;
    width: 8em;
    flex-direction: column;
    box-shadow: inset -5px -2px 20px 1px #000000bf;
}

.texto {
    display: none;
}

.texto__explicacao {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 3em;
    background: var(--cor-principal);
    margin: 0 4em 4em 4em;
    border-radius: 50px;
}

.botao:checked ~ .texto {
    display: block;
    padding-left: 4em;
    padding-right: 1em;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: var(--cor-principal);
    margin-bottom: 1em;
    margin-top: 0em;
    border-left: solid 4px var(--cor-terciaria);
    border-image: linear-gradient(180deg, var(--cor-terciaria), transparent)1;
    border-radius: 0 50px 50px 0;
}

.botao:checked ~ .texto__titulo {
    border-radius: 35px 35px 1px 1px;
    border-bottom: transparent;
}

.botao {
    display: none;
}

.texto__titulo:hover {
    background: var(--cor-terciaria);
    border: solid 4px var(--cor-secundaria);
    color: white;
}

.texto__titulo:hover ~ .texto {
    border-left: solid 4px var(--cor-terciaria);
    border-image: linear-gradient(180deg, var(--cor-secundaria), transparent)1;
}

@media screen and (max-width: 550px) {
    .titulo {
        padding-left: 1.75em;
        margin-bottom: 2em;
        font-size: 17.5px;
    }

    .nome-secao {
        margin: 0em;
        font-size: 20px;
    }

    .textos {
        margin-top: 3em;
        margin-left: 2em;
        margin-right: 2em
    }
    
    .texto__explicacao {
        padding: 1.5em;
        padding-top: 1em;
        border-radius: 40px;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 2em;
    }

    .texto-0 {
        font-size: 20px;
    }

    .texto__espaco {
        padding-left: 0;
        padding-right: 0;
    }
    
    .botao:checked ~ .texto {
        padding: 1.5em;
        border-radius: 0 40px 40px 0;
        margin-bottom: 0;
    }
}
