:root {
    --fonte-titulo: "Ubuntu";
    --fonte-texto: "Poppins";
    --cor-principal: #f2f2f2;
    --cor-secundaria: #b5d7d7;
    --cor-de-fundo: #e6e6e6;
    --cor-texto: black;
}

body {
    margin: 0px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
}

.titulo {
    font-family: var(--fonte-titulo);
    font-size: 20px;
    background-color: var(--cor-secundaria);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    margin-bottom: 3em;
}

.subtitulo {
    font-weight: 500;
    text-transform: capitalize;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
}

h3 {
    font-family: var(--fonte-texto);
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-family: var(--fonte-texto);
}

.texto__espaco {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.texto__titulo {
    font-family: var(--fonte-texto);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.texto {
    display: none;
}

.texto__explicacao {
    padding-left: 4em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: var(--cor-principal);
    margin: 0 4em 4em 4em;
}

.botao:checked ~ .texto {
    display: block;
    padding-left: 4em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: var(--cor-principal);
    margin: 1em 0em;
}

.botao {
    display: none;
}
